@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  background: #607D8B;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #607D8B;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}
.options {
  width: 460px;
  padding: 15% 0 0;
  margin: auto;
}
.options button {
  font-family: "Roboto", sans-serif;
  background: #607D8B;
  width: 100%;
  border: 0;
  box-shadow: 0px 0px 3px 3px #333333 ;  
  padding: 20px;
  margin: 25px;
  color: #FFFFFF;
  font-size: 20px;
  cursor: pointer;
  border-radius: 5px;
}
.header {
  width:100%;
  height: 15%;
  
  background: #78909C;
  vertical-align: center;
}
.header div {
  width: 10%;
  margin-right: 10%;
  color: #FFFFFF;
  display: inline-block;
  text-align: center;
}
#logo {
  text-align: center;
  height: 100%;
  font-size: 50px;
  width: 58%;
  display: inline-block;
}
#logOut {
  font-family: "Roboto", sans-serif;
  background: #607D8B;
  width: 10%;
  border: 0;
  margin-left: 10%;
  box-shadow: 0px 0px 3px 3px #333333 ;  
  padding: 20px;
  color: #FFFFFF;
  font-size: 20px;
  cursor: pointer;
  border-radius: 5px;
}
.game {
  margin-top: 150px;
  height: 600px;
  width: 100%;
}

#PocketCanvas1 {
  margin: 12px;
  width: 78%;
  height: 100%;
  display: inline-block;
  box-shadow: 0px 0px 5px 5px #333333 
}

#PocketCanvas {
  width: 100%;
  height: 85%;
}

.partx {
  width: 100%;
  height: 25%;
  display: inline-block;
  background:black;
}

.party {
  width: 100%;
  height: 68%;
  display: inline-block;
  background:black;
}

.part2 {
  width: 100%;
  height: 15%;
  display: inline-block;
  background:black;
}

.part21 {
  width: 39%;
  height: 100%;
  display: inline-block;
  margin: 0;
  padding: 0;
  background:red;
}

.part211 {
  width: 39%;
  height: 100%;
  display: inline-block;
  margin: 0;
  padding: 0;
  align-items: center;
  background:blue;
}

.part212 {
  width: 29%;
  height: 100%;
  display: inline-block;
  margin: 0;
  padding: 0;
  background:blue;
}

.part213 {
  width: 29%;
  height: 100%;
  display: inline-block;
  margin: 0;
  padding: 0;
  background:blue;
}

.part22 {
  width: 30%;
    height: 100%;
  
  display: inline-block;
  margin: 0;
  padding: 0;
  background:red;
}

.part23 {
  width: 30%;
  height: 100%;
  display: inline-block;
  margin: 0;
  padding: 0;
  background:red;
}

.chat {
  margin: 12px;  
  margin-right: -12px;
  background: #f2f2f2;
  width: 18%;
  overflow: hidden;
  height: 100%;
  box-shadow: 0px 0px 5px 5px #333333 ;  
  display: inline-block;
}
.chatHeader{
  width: 100%;
  height: 8%;
  display: inline-block;
  background: gray;
}
.otherPlayerName{
  display: inline-block;
  height: 100%;
  width: 65%;
  font-size: 20px;
}
#voiceChat{
  display: inline-block;
  height: 100%;
  width: 15%;
}
#videoChat{
  display: inline-block;
  height: 100%;
  width: 15%;
}
.chatBox{
  width: 100%;
  height: 82%;
  display: inline-block;
  overflow-y: scroll;
}
#chat1{
  display: inline-block;
  width: 100%;
  height: 5px;
  text-align: left;
}
#chat2{
  display: inline-block;
  width: 100%;
  height: 5px;
  text-align: right;
}
.chatInput{
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 10%;
  display: inline-block;
}
.chatInput input{
  margin: 0px;
  padding: 0px;
  display: inline-block;
  height: 100%;
  width: 77%;
}
.chatInput button{
  margin: 0px;
  padding: 0px;
  display: inline-block;
  height: 100%;
  width: 18%;
}
body {
  background: #FAFAFA; 
  font-family: "Roboto", sans-serif;
  padding: 0px;
  margin: 0px;     
}